* {
    box-sizing: border-box;
  }


#fromDatabase {
    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 3px;
    background-color: red;
}
  
#fromDatabase tr:nth-child(even){background-color: yellow;}
#fromDatabase tr:nth-child(odd){background-color: lime;}

  table, td, th, thead {
    border-collapse: separate;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
  }
  
div {
    display: inline-block;
    border-style: ridge;
    font-size: 22px;
    font-weight: bolder;
    color: black;
    text-align: center;
}


.form-group {
   background-color: lime; 
   text-align: center;
}

.form-group:hover {
    background-color: red;
}

button {
    cursor: pointer;
    font-size: 35px;
    color: purple ;
    background-color: orangered;
    font-weight: bolder;
    border-color: black;
    border-width: 7px;
    padding: 7px;
    border-radius: 11px;
    font-style: inherit;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;/* border-color: yellow; */
}

button:hover {
    background-color: yellow;
    
}

button:active {
    background-color:red; /* When the button is clicked */
    box-shadow: 0 7px green;
    transform: translateY(4px);
  }

header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: 32px;
    padding: 12px;
    font-weight: bolder;
    
}

body {
    text-align: center;
    font-size: 18 px;
    color: black;
    background: url(./images/ny.jpeg);
    background-size: 100%;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}


footer {
    text-align: center;
    color:red;
    border-top: 1px solid white;
    background: transparent;
    font-weight: bolder;
}

.wrapper {
    width: 1024px;
    margin: 40px auto;
}
  
@media only screen and (max-width: 980px) {
    body {
        max-width: 100%;
        height: auto;
    }
    .wrapper {
        width: 800px;
      }
}

@media only screen and (max-width: 768px) {
    body {
        max-width: 100%;
        height: auto;
    }
    .wrapper {
        width: 800px;
      }
}

@media only screen and (max-width: 640px) {
    body {
        max-width: 100%;
        height: auto;
    }
    header {
        position: static;
    }
    .wrapper {
        width: 600px;
      }
}


